@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');


body {
  font-family: 'Nunito', sans-serif;
  background-color: #64BCBE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

.display-center {
  height: 90vh;
}

.white-placeholder .form-control::placeholder {
  color: white;
  opacity: 1; 
}

.white-placeholder .form-control:-ms-input-placeholder { 
  color: white;
}

.white-placeholder .form-control::-ms-input-placeholder { 
  color: white;
}

.amount .form-control::placeholder {
  color: #dc3545;
  opacity: 1; 
}

.amount .form-control:-ms-input-placeholder { 
  color: #dc3545;
}

.amount .form-control::-ms-input-placeholder { 
  color: #dc3545;
}

.btn-primary:enabled {
  background-color: #85CEC7 !important;
  border-color: #85CEC7 !important;
}

.btn-primary:hover {
  background-color: #0CC8C1 !important;
  border-color: #0CC8C1 !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #84C9CD !important;
  border-color: #84C9CD !important;
}

.fontuser { 
     position: relative; 
} 
   
.fontuser i{ 
    position: absolute; 
    right: 15px; 
    top: 12px; 
    color: #fff; 
} 

.my-custom-scrollbar {
    position: relative;
    height: 70vh;
    overflow: auto;
    border-radius: .25rem;
}
.table-wrapper-scroll-y {
  display: block;
}
.table th, .table td {
  border-top: none !important;
  border-bottom: 1px solid#dee2e6;
}

.modal-header {
  padding: .5rem .5rem;
}

.amount input {
  font-size: 2.5rem;
}

.h6 {
  font-size: 14px !important;
}

#category {
  text-align: right !important;
}

select { 
  text-align-last: right; 
}

.btn-link {
  text-decoration: none !important;
  cursor: pointer;
}

.custom-color {
  color: #64BCBE;
}